# Supabase
SUPABASE_URL=https://ttythziuthbrfopzxtvh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0eXRoeml1dGhicmZvcHp4dHZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNDQ2MTMsImV4cCI6MjA5NzYyMDYxM30.mziwMqgaBaAEPZ3B7CQM2_h4nMo8xsoB_S0WIlS6mYU
SUPABASE_PROJECT_REF=ttythziuthbrfopzxtvh

# Supabase CLI (crea uno en https://supabase.com/dashboard/account/tokens)
# SUPABASE_ACCESS_TOKEN=
